@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Roboto+Slab:wght@200&family=Shadows+Into+Light&family=Slabo+27px&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    overflow: auto;
}
app, html{
    height: 100%;
    background-image: url("https://cdn.pixabay.com/photo/2018/01/12/10/19/fantasy-3077928_1280.jpg");
    background-size: cover;
    background-position:center;
    image-rendering: optimizeQuality;
    overflow: hidden;

}
.launch{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("https://cdn.pixabay.com/photo/2018/01/12/10/19/fantasy-3077928_1280.jpg");
    background-size: cover;
    background-position: center;
    image-rendering: optimizeQuality;
    height: 100vh;
}
.launch-header{
    margin-top: 1rem;
    font-family: 'Quicksand';
    color: #F5F0F6;
}
.launch-button{
    position: relative;
    top: 40%;
    margin-bottom: 1rem;
    background-color: #011638;
    color: #F5F0F6;
    padding: .75rem  1rem;
    border-radius: 50%;
    cursor: pointer;
    opacity: .75;
}
.launch-button:hover{
    opacity: 1;
}
.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand';
    color:#000004;
    height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2018/01/12/10/19/fantasy-3077928_1280.jpg");
    background-size: cover;
    background-position: center;
    image-rendering: optimizeQuality;
}
.login-header{
    margin: 1rem 0;
}
.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 14rem;
}
.login-input{
    display: flex;
    flex-direction: column;
    position: relative;
}
.login-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem ;
    background-color: #36709f;
    padding: 8px;
    color: #F5F0F6;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px;
    opacity: .8;
    
}
.login-button:hover{
    opacity: 1;
    transition: .2s ease;
}
.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Quicksand';
    color:#000004;
    background-image: url("https://cdn.pixabay.com/photo/2014/02/27/16/10/flowers-276014_1280.jpg");
    background-size: cover;
    background-position: center;
    image-rendering: optimizeQuality;
    height: 100vh;
}
.register-header{
    margin: 1rem 0;
}
.register-input{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10rem;
    left: .5rem;
}
.register-button{
    display: flex;
    position: relative;
    top: 12rem;
    left: 3.5rem;
    background-color: #011638;
    padding: 8px;
    color: #F5F0F6;
    cursor: pointer;
}
.home{
    color: #F5F0F6;
    font-family: 'Quicksand';
    height: 100vh;
    background-image: url("https://cdn.pixabay.com/photo/2018/01/12/10/19/fantasy-3077928_1280.jpg");
    background-size: cover;
    background-position:center;
    image-rendering: optimizeQuality;
}
.home-h{
    display: flex;
    justify-content: center;
    
}
.home-desc{
    display: flex;
    justify-content: center;
    margin: 10rem 20rem 0 20rem;
    opacity: .85;
    padding: 3rem;
    border-radius: 50%;
    color: #000004;
    background-color:#F8ECDC ;
}
.home-header{
    padding: 1rem;
    color: #000004;
    border-radius: 50%;
}
.lastMed{
    display: flex;
    justify-content:center;
    position: relative;
    top: 5rem;
}
.lastMedList{
    border: 5px solid #385F71;
    background-color: #F8ECDC;
    opacity: .85;
    color: #000004;
    list-style: none;
    padding: 5rem;
    text-align: center;
}
.lastMedList:hover{
    opacity: 1;
}

.lastMedHeader{
    margin-bottom: 1rem;
    text-align: center;
}
.welcome-home{
    display: flex;
    justify-content: center;
    color: #000004;
    font-family: 'Roboto Slab';
    font-size: 18px;
}
.footer{
    position: absolute;
    bottom: 0;
    display: flex;

}
.footer-div{
    background: rgba(238, 244, 244, 0.85);
    border: 2px solid #385F71;
    width: 100vw;
}
.footer-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    color: #000004;
    padding-top: 5px;
}
.footer-item{
    cursor: pointer;
}
.profile{
    color: #000004;
    font-family: 'Quicksand';
}
.profile-header{
    text-align: center;
    margin-top: 1rem;
}
.user-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 8rem;
}
.user-info-list{
    background-color: #F8ECDC;
    opacity: .85;
    border: 5px solid #385F71;
    list-style: none;
    padding: 4rem;
    /* border-radius: 25%; */
    text-align: center;
}
.user-info-list:hover{
    opacity: 1;
}
.meditations{
    color: #000004;
    font-family: 'Quicksand';
    
}
.meditations-header{
    text-align: center;
    margin-top: 1rem;
}
.meditations-div-1{
    margin-top: 1rem;
    
}
.meditations-div-2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
}
.meditation-list{
    list-style: none;
    margin: 1rem 1rem 0 1rem;
    text-align: center;
    background-color: #ebe6df;
    opacity: .85;
    border: 2px solid #385F71;
    padding: 1rem;
    cursor: pointer;
    min-height: 90%;
    
}
.meditation-list:hover{
    opacity: 1;
}
.meditation{
    font-family: 'Quicksand';
    
}
.meditation-header{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.page-buttons{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
.page-button{
    padding: 4px;
    margin-right: 10px;
    background-color: #385F71;
    color: #F5F0F6;
    font-family: "Quicksand";
    font-size: 15px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow:2px 1px 1px 2px#011638;
    opacity: .8;
}
.page-button:hover{
    opacity: 1;
}
.med-list{
    text-align: center;
    list-style: none;   
}
.finish-button{
    padding: 5px;
    margin-top: 1rem;
    background-color: #385F71;
    color: #F5F0F6;
    cursor: pointer;
    font-family: "Quicksand";
    font-size: 15px;
    border-radius: 5px;
    box-shadow:2px 1px 1px 2px#011638;
    opacity: .8;
}
.finish-button:hover{
    opacity: 1;
}

/* .community{
    font-family: 'Quicksand';
    display: flex;
    justify-content: space-between;
}
.community-header{
    font-family: 'Quicksand';
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.friends{
    background: rgba(238, 244, 244, 0.5);
    border: 5px solid #385F71;
    list-style: none;
    position: relative;
    left: 2rem;
    padding: 1rem 5rem 1rem 5rem;
    border-radius: 4%;
    min-height: 36.5rem;
}
.recent{
    position: relative;
    right: 2rem;
    background: rgba(238, 244, 244, 0.5);
    border: 5px solid #385F71;
    border-radius: 2%;
    padding: 1rem 10rem 1rem 10rem;
    min-height: 36.5rem;
} */
.spotify-player{
    position: relative;
    opacity: .75;
}
@media (max-width: 565px){
    .meditations-div-2{
        display: block;
    }
    .meditations-div-1{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .meditation-list{
        margin: 1rem;
    }
}